// #A1A2A6 -> cinza claro
// #585859 -> cinza escuro

.resultado{
  background-color: #A1A2A6;
  height: 30vh;
}

.botoes{
  background-color: #585859;
  height: 70vh;
}

ion-button{
  width: 20vw;
}

