.calendario{
  &__foto{
    height: 22rem;
    width: 30rem;;
  }

  &__mes{
    font-size: 1rem;
    color: #2B0B59;
  
  }

  &__ano{
    font-size: 1rem;
    color: #2B0B59;
  }

  &__dia-semana{ 
    font-size: 1rem;
    color: #F28066;
  }

  &__dia{
    font-size: 1rem;
    color: #F2A25C;
  }
}